# BIL 366 Data Mining Final Projesi

## Feyza Becer - Yusuf Özkan

### Amaç 

* Toplu taşıma kullanımındaki değişiminin yeni vaka sayılarındaki değişime etkisi, clustering yöntemi kullanılarak araştırılacaktır.

In [183]:
import numpy as np
import pandas as pd
#https://www.google.com/covid19/mobility/

mobility = pd.read_csv('2020_TR_Region_Mobility_Report.csv')
mobility = mobility.rename(columns={'transit_stations_percent_change_from_baseline':'transit_stations'})
transit = mobility[['transit_stations']].copy()

covid = pd.read_csv("covid_data.csv")
covid = covid.astype(np.uint8,errors="ignore")
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61900 entries, 0 to 61899
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61900 non-null  object
 1   day                                                         61900 non-null  uint8
 2   month                                                       61900 non-null  uint8
 3   year                                                        61900 non-null  uint8
 4   cases                                                       61900 non-null  uint8
 5   deaths                                                      61900 non-null  uint8
 6   countriesAndTerritories                                     61900 non-null  object
 7   geoId                                                       61625 non-null  object
 8   countryterritoryCode                                        61777 non-null  object
 9   popData2019                                                 61777 non-null  float64
 10  continentExp                                                61900 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59021 non-null  float64
dtypes: float64(2), object(5), uint8(5)
memory usage: 3.6+ MB

In [184]:
transit.index = pd.DatetimeIndex(mobility['date'])
transit

            transit_stations
date
2020-02-15              -4.0
2020-02-16               2.0
2020-02-17               5.0
2020-02-18               4.0
2020-02-19               0.0
...                      ...
2020-12-27               NaN
2020-12-28             -33.0
2020-12-29             -34.0
2020-12-30             -27.0
2020-12-31             -29.0

[167657 rows x 1 columns]

In [185]:
covid = covid[covid['countriesAndTerritories'].str.contains('Turkey')]
covid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
56949,14/12/2020,14,12,228,208,222,Turkey,TR,TUR,82003882.0,Europe,499.220269
56950,13/12/2020,13,12,228,106,226,Turkey,TR,TUR,82003882.0,Europe,499.397090
56951,12/12/2020,12,12,228,0,0,Turkey,TR,TUR,82003882.0,Europe,496.954522
56952,11/12/2020,11,12,228,216,220,Turkey,TR,TUR,82003882.0,Europe,533.349141
56953,10/12/2020,10,12,228,224,217,Turkey,TR,TUR,82003882.0,Europe,531.773606
...,...,...,...,...,...,...,...,...,...,...,...,...
57220,18/03/2020,18,3,228,51,0,Turkey,TR,TUR,82003882.0,Europe,NaN
57221,17/03/2020,17,3,228,29,0,Turkey,TR,TUR,82003882.0,Europe,NaN
57222,16/03/2020,16,3,228,16,0,Turkey,TR,TUR,82003882.0,Europe,NaN
57223,13/03/2020,13,3,228,1,0,Turkey,TR,TUR,82003882.0,Europe,NaN
57224,12/03/2020,12,3,228,1,0,Turkey,TR,TUR,82003882.0,Europe,NaN

In [186]:
covid["cases"]

56949    208
56950    106
56951      0
56952    216
56953    224
        ...
57220     51
57221     29
57222     16
57223      1
57224      1
Name: cases, Length: 276, dtype: uint8

In [187]:
data = {'Date':covid["dateRep"].values,
        'Cases':covid["cases"].values}

df = pd.DataFrame(data)
df

           Date  Cases
0    14/12/2020    208
1    13/12/2020    106
2    12/12/2020      0
3    11/12/2020    216
4    10/12/2020    224
..          ...    ...
271  18/03/2020     51
272  17/03/2020     29
273  16/03/2020     16
274  13/03/2020      1
275  12/03/2020      1

[276 rows x 2 columns]

In [188]:
df.index =  pd.to_datetime(df["Date"], format = '%d/%m/%Y')
df.index = df.index.strftime('%Y-%m-%d')
#df.index = pd.DatetimeIndex(df.index).month
df = df.drop(columns = 'Date')

In [189]:
df.sort_index(inplace=True)
df

            Cases
Date
2020-03-12      1
2020-03-13      1
2020-03-16     16
2020-03-17     29
2020-03-18     51
...           ...
2020-12-10    224
2020-12-11    216
2020-12-12      0
2020-12-13    106
2020-12-14    208

[276 rows x 1 columns]