In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#https://www.google.com/covid19/mobility/
df = pd.read_csv('2020_TR_Region_Mobility_Report.csv') #csv dosyasını okuduk

In [40]:
df = df.rename(columns={'transit_stations_percent_change_from_baseline':'transit_stations'})

In [41]:
newData = df[['transit_stations']].copy()

In [42]:
newData

      transit_stations
date
2                 -4.0
2                  2.0
2                  5.0
2                  4.0
2                  0.0
...                ...
12                 NaN
12               -33.0
12               -34.0
12               -27.0
12               -29.0

[167657 rows x 1 columns]

In [43]:
newData.index = pd.DatetimeIndex(df['date']).month

In [44]:
newData

      transit_stations
date
2                 -4.0
2                  2.0
2                  5.0
2                  4.0
2                  0.0
...                ...
12                 NaN
12               -33.0
12               -34.0
12               -27.0
12               -29.0

[167657 rows x 1 columns]